- content_for :page_title, "Documentation"

.docs
  %nav.docs-nav

  %section.docs-content
    %article.docs-article
      %h1 Documentation
      %p
        Want to keep your application secrets from getting out?

      %p
        Sign in with GitHub and activate your repos, that's it!
        Keycomb will do the rest on each pull request

      %p
        If this page doesn't help you find what you are looking for,
        email us at #{mail_to "support@keycomb.co"}
        and we will help you out.
