.plan
  %h5.plan-title= plan.title
  .plan-allowance
    - if plan.allowance > 50
      %strong Unlimited
      Repos
    - else
      = t(".allowance_html", allowance: plan.allowance)
  .plan-price= t(".price_html", price: plan.price)
